/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Asegura que padding y bordes estén incluidos en el ancho */
}

*,
*::before,
*::after {
    box-sizing: inherit; /* Consistencia en todo el documento */
}

/* Estilos del header */
header {
    background-color: white;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

/* Estilos del logo */

.logo {
    max-height: 50px; /* Restricción de la altura */
    object-fit: contain;
}


/* Estilos del nombre de la página */
.nombre-pagina {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1B2020;
}

/* Separador vertical */
.separator {
    width: 1px;
    height: 40px;
    background-color: #1B2020;
    margin: 0 15px;
}

/* Estilos del menú */
.navbar-nav .nav-link {
    color: #1B2020 !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #1B2020;
    text-decoration: underline;
}

.contenedor, .contenedor-fluid {
    width: 100%; /* Usar todo el ancho disponible */
    max-width: 10rem; /* Ancho máximo ajustado */
    padding: 0 1rem; /* Espaciado interno lateral */
    margin: 0 auto; /* Centrado horizontal */
}


/* Sección de introducción */
.introduccion {
    text-align: center;
    margin: 4rem 0;
    padding: 0 2rem;
}

.introduccion h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #1B2020;
    margin-bottom: 2rem;
}

.introduccion p {
    font-size: 1.3rem; /* Tamaño del texto */
    line-height: 1.8;
    color: #333; /* Texto más suave para buena lectura */
    margin: 0 auto;
    max-width: 80rem; /* Limitar ancho para mejor legibilidad */
    font-weight: 400; /* Ligero para equilibrio con el título */
    text-align: center; /* Mejor alineación en texto largo */
}


/* Imagen más grande y centrada */
.img-fluid {
    width: 90%;  
    max-width: 900px;
    height: auto;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para la sección del carrusel */
/* General */
.carousel-container h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #1B2020;
    margin-bottom: 2rem;
}

.carousel-container {
    text-align: center;
    margin: 4rem 0;
}

.carousel {
    width: 85%;
    margin: 0 auto;
}

.carousel-inner {
    position: relative; /* Asegura el posicionamiento de los elementos */
    overflow: hidden;   /* Oculta los elementos no activos */
}

.carousel-item {
    display: none; /* Oculta por defecto los elementos */
    position: relative;
    width: 100%; /* Asegura que ocupe todo el contenedor */
    transition: opacity 0.3s ease-in-out; /* Transición suave */
}

.carousel-item.active {
    opacity: 1; /* Muestra solo el activo */
    transform: translateX(0); /* Posiciona el elemento activo en su lugar */
}

.carousel-item-next, .carousel-item-prev {
    opacity: 1;
    transform: translateX(100%); /* Elemento siguiente desplazado hacia la derecha */
}


.carousel-content {
    background-color: rgba(27, 32, 32, 0.85); /* Fondo con opacidad */
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    margin: 0 auto;
}


/* Estilos generales para la nueva sección */
.why-choose {
    text-align: center;
    margin: 3rem 0;
}

.why-choose h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #1B2020;
    margin-bottom: 2rem;
}

.why-choose .container {
    display: flex;
    flex-direction: column; /* Coloca los contenedores en columna inicialmente */
    gap: 1rem; /* Espacio entre los contenedores */
    align-items: center;
}

.why-choose .content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}

.why-choose .content-container:nth-child(odd) {
    flex-direction: row; /* Imagen a la izquierda, texto a la derecha */
}

.why-choose .content-container:nth-child(even) {
    flex-direction: row-reverse; /* Texto a la izquierda, imagen a la derecha */
}

.why-choose .content-container img {
    width: 48%; /* Asegura que las imágenes tengan el mismo ancho */
    height: auto;
    object-fit: cover;
    margin-right: 1rem; /* Asegura un pequeño margen entre la imagen y el texto */
}

.why-choose .content-container .text {
    width: 48%;  /* El texto tiene un ancho fijo */
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

/* Responsividad */
@media (max-width: 768px) {
    .why-choose .content-container {
        flex-direction: column;  /* Para pantallas pequeñas, las imágenes y el texto estarán uno encima del otro */
        text-align: center;
    }

    .why-choose .content-container img {
        width: 80%;  /* Las imágenes ocuparán el 80% en móviles */
    }

    .why-choose .content-container .text {
        width: 80%;  /* El texto ocupará el 80% en móviles */
    }
}



/* Estilos para el footer */
footer {
    background-color: #1B2020;
    color: white;
}

/* Contenedor del footer */
.footer-content {
    max-width: 120rem;
    margin: 0 auto;
}

/* Alineación de los elementos en el footer */
footer p, .contacto {
    font-size: 1rem;
}

.contacto {
    display: flex;
    align-items: center;
}

.contacto a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.contacto img.social-icon {
    width: 30px;
    height: auto;
    margin-right: 0.5rem;
}

.contacto a:hover {
    color: #C09F23;
}

.contacto span {
    font-size: 1rem;
}
